<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elias.acervoapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/coruja"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LivroDetalhe"
            android:label=""
            android:theme="@style/livroDetalheStyle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio"></meta-data>
        </activity>
        <activity
            android:name=".Livros"
            android:label="Livros Do Acervo"
            android:theme="@style/livrosStyle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio"></meta-data>
        </activity>
        <activity
            android:name=".Categorias"
            android:label="Categorias"
            android:theme="@style/categoriasStyle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio"></meta-data>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inicio"
            android:theme="@style/inicioStyle">

        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/loginStyle">

        </activity>
    </application>

</manifest>