<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elias.acervoapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/coruja"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LivroDetalhe"
            android:label="@string/detalhe_title"
            android:theme="@style/livroDetalheStyle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".Livros"
            android:label="@string/livros_title"
            android:theme="@style/livrosStyle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".Categorias"
            android:label="@string/categorias_title"
            android:theme="@style/categoriasStyle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".CadastroLivro"
            android:label="@string/cadastro_livro_title"
            android:theme="@style/cadastroLivrosStyle">

        </activity>
        <activity
            android:name=".Inicio"
            android:theme="@style/inicioStyle"></activity>
        <activity
            android:name=".Login"
            android:theme="@style/loginStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro"
            android:theme="@style/registroStyle">
        </activity>
    </application>

</manifest>